dotenv ./.envs/.local/.postgres
dotenv ./.envs/.local/.django
dotenv ./.envs/.local/.auth
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5434
dotenv ./.envs/.local/.psql
export DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
